In [67]:
import pandas as pd
from sqlalchemy import create_engine
from config import pw
import datetime as dt
import numpy as np

### Extract CSVs into DataFrames

In [68]:
# Extraxting 'artists' csv file and put it into Pandas DataFrame
artists_file = "Resources/artistDf.csv"
artists_df = pd.read_csv(artists_file)
artists_df.head()

,X,Artist,Followers,Genres,NumAlbums,YearFirstAlbum,Gender,Group.Solo
0,0,Ed Sheeran,52698756,"pop,uk pop",8,2011,M,Solo
1,1,Justin Bieber,30711450,"canadian pop,dance pop,pop,post-teen pop",10,2009,M,Solo
2,2,Jonas Brothers,3069527,"boy band,dance pop,pop,post-teen pop",10,2006,M,Group
3,3,Drake,41420478,"canadian hip hop,canadian pop,hip hop,pop rap,...",11,2010,M,Solo
4,4,Chris Brown,9676862,"dance pop,pop,pop rap,r&b,rap",6,2005,M,Solo

In [69]:
# Extraxting 'billboard' csv file and put it into Pandas DataFrame
billboard_file = "Resources/billboardHot100_1999-2019_sample.csv"
billboard_df = pd.read_csv(billboard_file)
billboard_df.head()

,Unnamed: 0,Unnamed: 0.1,Artists,Name,Weekly.rank,Peak.position,Weeks.on.chart,Week,Date,Genre,Writing.Credits,Lyrics,Features
0,0,1,Lil Nas X,Old Town Road,1,1.0,7.0,7/6/2019,5-Apr-19,"Country,Atlanta,Alternative Country,Hip-Hop,Tr...","Jozzy, Atticus ross, Trent reznor, Billy ray c...","Old Town Road Remix \nOh, oh-oh\nOh\nYeah, I'm...",Billy Ray Cyrus
1,1,2,"Shawn Mendes, Camila Cabello",Senorita,2,NaN,NaN,7/6/2019,21-Jun-19,Pop,"Cashmere cat, Jack patterson, Charli xcx, Benn...",Senorita \nI love it when you call me senorita...,NaN
2,2,3,Billie Eilish,Bad Guy,3,2.0,13.0,7/6/2019,29-Mar-19,"Hip-Hop,Dark Pop,House,Trap,Memes,Alternative ...","Billie eilish, Finneas","bad guy \nWhite shirt now red, my bloody nose\...",NaN
3,3,4,Khalid,Talk,4,3.0,20.0,7/6/2019,7-Feb-19,"Synth-Pop,Pop","Howard lawrence, Guy lawrence, Khalid",Talk \nCan we just talk? Can we just talk?\nTa...,NaN
4,4,5,"Ed Sheeran, Justin Bieber",I Don't Care,5,2.0,7.0,7/6/2019,10-May-19,"Canada,UK,Dance,Dance-Pop,Pop","Ed sheeran, Justin bieber, Shellback, Max mart...",I Don't Care \nI'm at a party I don't wanna be...,NaN

In [70]:
# Extraxting 'grammy songs' csv file and put it into Pandas DataFrame
grammy_songs_file = "Resources/grammySongs_1999-2019.csv"
grammy_songs_df = pd.read_csv(grammy_songs_file)
grammy_songs_df

,Unnamed: 0,X,GrammyAward,GrammyYear,Genre,Name,Artist
0,1,0,Record Of The Year,2018,General,this is America,Childish Gambino
1,2,1,Song Of The Year,2018,General,this is America,Childish Gambino
2,3,2,Best Pop Solo Performance,2018,Pop,Joanne (where Do you Think You're Goin'?),Lady Gaga
3,4,3,Best Pop Duo/Group Performance,2018,Pop,Shallow,Lady Gaga & Bradley Cooper
4,5,4,Best Dance Recording,2018,Dance/Electronic Music,Electricity,Silk City & Dua Lipa Featuring Diplo & Mark Ro...
...,...,...,...,...,...,...,...
423,424,423,Best Rap Solo Performance,1999,Rap,My Name is,Eminem
424,425,424,Best Rap Performance By A Duo Or Group,1999,Rap,you Got Me,The roots featuring Erykah Badu
425,426,425,Best Female Country Vocal Performance,1999,Country,Man! i Feel Like a Woman!,Shania Twain
426,427,426,Best Male Country Vocal Performance,1999,Country,Choices,George Jones
427,428,427,Best Country Song,1999,Country,Come on over,Shania Twain

### Transform artists DataFrame

In [71]:
# Create a filtered dataframe from specific columns
artists_cols = ['Artist', 'Genres', 'NumAlbums', 'Gender', 'Group.Solo']
artists_transformed = artists_df[artists_cols].copy()

# Rename the column headers
artists_transformed = artists_transformed.rename(columns={'Artist':'artist', 
                                                          'Genres': 'genre',
                                                          'NumAlbums': 'num_albums',
                                                          'Gender': 'gender',
                                                          'Group.Solo': 'group_solo'})

# Transform all strings to lower case
artists_transformed = artists_transformed.astype(str).apply(lambda x: x.str.lower())

# Clean the data by dropping duplicates and setting the index
artists_transformed.drop_duplicates('artist', inplace=True)
artists_transformed.set_index('artist', inplace=True)

artists_transformed.head()

,genre,num_albums,gender,group_solo
artist,,,,
ed sheeran,"pop,uk pop",8,m,solo
justin bieber,"canadian pop,dance pop,pop,post-teen pop",10,m,solo
jonas brothers,"boy band,dance pop,pop,post-teen pop",10,m,group
drake,"canadian hip hop,canadian pop,hip hop,pop rap,...",11,m,solo
chris brown,"dance pop,pop,pop rap,r&b,rap",6,m,solo

### Transform billboard DataFrame

In [72]:
# Create a filtered dataframe from specific columns
billboard_cols = ['Artists', 'Name', 'Peak.position', 'Weeks.on.chart','Week','Genre']
billboard_transformed = billboard_df[billboard_cols].copy()
billboard_transformed['Week'] = pd.to_datetime(billboard_transformed['Week'], format = '%m/%d/%Y').map(lambda x: x.strftime('%Y'))

# Rename the column headers
billboard_transformed = billboard_transformed.rename(columns={'Artists':'artist',
                                                              'Name': 'name_of_song',
                                                              'Peak.position': 'peak_position',
                                                              'Weeks.on.chart': 'weeks_on_chart',
                                                              'Week': 'year',
                                                              'Genre': 'genre'})

# Transform all strings to lower case
billboard_transformed = billboard_transformed.astype(str).apply(lambda x: x.str.lower())

#Split artists at (,) and stack them in separate rows 
billboard_transformed = (billboard_transformed.drop('artist', axis=1).
                        join(billboard_transformed['artist'].
                        str.split(', ', expand=True).stack().
                        reset_index(level=1, drop=True).rename('artist')))

#Keep only first row when there are artist/song duplicate
billboard_transformed.drop_duplicates(['artist', 'name_of_song'], keep='first', inplace=True)
billboard_transformed['artist'].replace('', np.nan, inplace=True)
billboard_transformed = billboard_transformed.dropna()
billboard_transformed.reset_index(drop=True, inplace=True)

# Move 'artist' column to first position
artist_col = billboard_transformed.pop('artist')
billboard_transformed.insert(0, 'artist', artist_col)

billboard_transformed

,artist,name_of_song,peak_position,weeks_on_chart,year,genre
0,lil nas x,old town road,1.0,7.0,2019,"country,atlanta,alternative country,hip-hop,tr..."
1,shawn mendes,senorita,nan,nan,2019,pop
2,camila cabello,senorita,nan,nan,2019,pop
3,billie eilish,bad guy,2.0,13.0,2019,"hip-hop,dark pop,house,trap,memes,alternative ..."
4,khalid,talk,3.0,20.0,2019,"synth-pop,pop"
...,...,...,...,...,...,...
2520,5 seconds of summer,kiss me kiss me,nan,nan,2014,"australia,punk rock,pop-rock,pop,rock"
2521,ed sheeran,afire love,nan,nan,2014,"rock,uk,pop"
2522,imagine dragons,demons,6.0,61.0,2014,"adult alternative,adult contemporary,alternati..."
2523,brett eldredge,beat of the music,44.0,20.0,2014,country
2524,jhene aiko,the worst,43.0,20.0,2014,r&;b

### Transform grammy DataFrame

In [73]:
# Create a filtered dataframe from specific columns
grammy_songs_cols = ['Artist','GrammyAward','GrammyYear','Name', 'Genre']
grammy_songs_transformed = grammy_songs_df[grammy_songs_cols].copy()

# Rename the column headers
grammy_songs_transformed = grammy_songs_transformed.rename(columns={'Artist':'artist',
                                                                    'GrammyAward': 'grammy_award',
                                                                    'GrammyYear': 'grammy_year',
                                                                    'Name': 'name_of_song',
                                                                    'Genre': 'genre'})
# Transform all strings to lower case
grammy_songs_transformed = grammy_songs_transformed.astype(str).apply(lambda x: x.str.lower())

# Replacing unnecessary words and characters with an empty space
for index, songs in grammy_songs_transformed.iterrows():
    # Get artist names
    artists = songs['artist']
    # Remove unnecessary strings
    artists = artists.replace('songwriters','')
    artists = artists.replace('songwriter','')
    artists = artists.replace('artists','')
    artists = artists.replace('artist','')
    artists = artists.replace('soloists','')
    artists = artists.replace('soloist','')
    artists = artists.replace('(','')
    artists = artists.replace(')','')
    artists = artists.replace(u'\xa0', u'')
    songs['artist'] = artists
    
#Split artists at (, and other unnecessary characters) and stack them in separate rows 
grammy_songs_transformed = (grammy_songs_transformed.drop('artist', axis=1).
                                        join(grammy_songs_transformed['artist'].
                                        str.split(', ', expand=True).
                                        stack().reset_index(level=1, drop=True).
                                        rename('artist')))

grammy_songs_transformed = (grammy_songs_transformed.drop('artist', axis=1).
                                    join(grammy_songs_transformed['artist'].
                                    str.split('& |; |, |and |with |featuring',expand=True).
                                    stack().reset_index(level=1, drop=True).
                                    rename('artist')))

grammy_songs_transformed['artist'].replace('', np.nan, inplace=True)
grammy_songs_transformed.reset_index(drop=True, inplace=True)

# Make sure there are no duplicates
grammy_songs_transformed = grammy_songs_transformed.drop_duplicates(['grammy_award','name_of_song','artist'], keep='first')

# Move 'artist' column to first position
artist_column = grammy_songs_transformed.pop('artist')
grammy_songs_transformed.insert(0, 'artist', artist_col)

grammy_songs_transformed

,artist,grammy_award,grammy_year,name_of_song,genre
0,lil nas x,record of the year,2018,this is america,general
1,shawn mendes,song of the year,2018,this is america,general
2,camila cabello,best pop solo performance,2018,joanne (where do you think you're goin'?),pop
3,billie eilish,best pop duo/group performance,2018,shallow,pop
4,khalid,best pop duo/group performance,2018,shallow,pop
...,...,...,...,...,...
1736,alessia cara,best rap performance by a duo or group,1999,you got me,rap
1737,disturbed,best rap performance by a duo or group,1999,you got me,rap
1738,pitbull,best female country vocal performance,1999,man! i feel like a woman!,country
1739,drake,best male country vocal performance,1999,choices,country
1740,drake,best country song,1999,come on over,country

### Create database connection

In [74]:
connection_string = f'postgres:{pw}@localhost:5432/artists_db'
engine = create_engine(f'postgresql://{connection_string}')

In [75]:
# Confirm tables
engine.table_names()

['artists', 'billboard', 'grammy_songs']

### Load DataFrames into database

In [ ]:
artists_transformed.to_sql(name='artists', con=engine, if_exists='append', index=True)

In [131]:
billboard_transformed.to_sql(name='billboard', con=engine, if_exists='append', index=False)

In [132]:
grammy_songs_clean.to_sql(name='grammy_songs', con=engine, if_exists='append', index=False)